<div class="results-block">
  <%= render 'layouts/messages', class: "error-block" %>
</div>

<% if @friends %>
    <div class="card card-header results-block">
      <table class="col-md-12">
        <tbody>
          <% @friends.each do |friend| %>  
            <tr>
              <td class="card-text"> <strong> Name: </strong> <em class="font"><%= friend.full_name %> </em></td> 
              <td class="card-text"> <strong> Email: </strong> <em class="font"><%= friend.email %> </em></td> 
              <td class="card-text"> <strong> Actions: </strong> 
                <%= link_to "View Profile", '#', class: "btn btn-sm btn-info" %>
                <% if current_user.not_friends_with?(friend.id) %> 
                  <%= link_to 'Follow friend?', friendships_path(friend: friend), class: "btn btn-sm btn-info", method: :post %>
                <% else %>
                  <button type="button" class="btn btn-sm btn-outline-pink">
                    
                      You are friends
                    
                  </button>
                <% end %>
              </td>
            </tr>   
          <% end %> 
        </tbody>
      </table>
    </div>
  
<% end %> 
